# chapter 2.2

In [1]:
# import pandas and numpy
import pandas as pd
import numpy as np

In [2]:
# Set some pandas options for controlling output

In [3]:
# inline greaphics
%matplotlib inline

In [4]:
data = pd.read_csv('./dds_ch2_nyt/nyt1.csv')

In [5]:
# slice in groups
slice_part = [-float('inf'), 0, 18, 24, 34, 44, 54, 64, float('inf')]
slices = pd.cut(np.array(data['Age']), slice_part)
## one-hot
print(slices.codes)
data['AgeGroup'] = slices.codes

[4 7 3 ..., 7 0 0]

In [6]:
# group this data by the 'data' column
# returns a DataFrameGroupBy object
grouped = data.groupby('AgeGroup')
grouped

In [7]:
# get the number of group that this will create
grouped.ngroups

8

In [8]:
# what are the groups that were found?
grouped.groups

{0: Int64Index([     6,     10,     12,     15,     19,     24,     39,     41,
                 46,     47,
             ...
             458402, 458406, 458407, 458408, 458413, 458430, 458436, 458437,
             458439, 458440],
            dtype='int64', length=137106),
 1: Int64Index([     8,     58,     61,     67,     74,     80,    130,    167,
                168,    198,
             ...
             458200, 458211, 458222, 458225, 458261, 458269, 458338, 458359,
             458381, 458394],
            dtype='int64', length=19252),
 2: Int64Index([    11,     25,     26,     29,     30,     32,     35,     57,
                 69,     77,
             ...
             458365, 458375, 458378, 458379, 458390, 458414, 458423, 458424,
             458431, 458433],
            dtype='int64', length=35270),
 3: Int64Index([     2,     14,     17,     23,     34,     36,     40,     51,
                 52,     56,
             ...
             458350, 458361, 458373, 458393, 458398, 458401, 458405, 458409,
             458416, 458432],
            dtype='int64', length=58174),
 4: Int64Index([     0,     16,     18,     33,     44,     45,     54,     68,
                 70,     71,
             ...
             458383, 458385, 458400, 458403, 458410, 458415, 458417, 458425,
             458427, 458428],
            dtype='int64', length=70860),
 5: Int64Index([     3,      4,      5,      7,      9,     22,     27,     28,
                 53,     91,
             ...
             458392, 458399, 458404, 458419, 458420, 458421, 458422, 458426,
             458429, 458435],
            dtype='int64', length=64288),
 6: Int64Index([    13,     20,     21,     42,     43,     55,     64,     65,
                 75,     90,
             ...
             458323, 458336, 458348, 458369, 458370, 458380, 458395, 458411,
             458418, 458434],
            dtype='int64', length=44738),
 7: Int64Index([     1,     31,     37,     38,     48,     96,    127,    137,
                148,    189,
             ...
             458272, 458308, 458315, 458340, 458345, 458366, 458368, 458372,
             458412, 458438],
            dtype='int64', length=28753)}

In [11]:
# a helper function to print the contents of the groups
def print_groups(groupobject):
    # loop over all groups, printing the group name
    # and group details
    for name, group in groupobject:
        print (name)
        print (group)

In [ ]:
data['CTR'] = data['Clicks']/data['Impressions']
data