In [1]:
import pandas as pd

In [4]:
data = pd.read_excel('./dds_ch2_rollingsales/rollingsales_brooklyn.xls')
data

,Brooklyn Rolling Sales File. All Sales From August 2012 - August 2013.,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20
0,Sales File as of 08/30/2013 Coop Sales Files ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"Neighborhood Name 09/06/13, Descriptive Data i...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Building Class Category is based on Building C...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,EASE-MENT,BUILDING CLASS AT PRESENT,ADDRESS,APART\nMENT\nNUMBER,...,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE\nPRICE,SALE DATE
4,3,,15 CONDOS - 2-10 UNIT RESIDENTIAL,,814,1103,,,342 53RD STREET,,...,0,0,0,0,0,0,2,R1,403572,2013-07-09 00:00:00
5,3,,15 CONDOS - 2-10 UNIT RESIDENTIAL,,814,1105,,,342 53RD STREET,,...,0,0,0,0,0,0,2,R1,218010,2013-07-12 00:00:00
6,3,,15 CONDOS - 2-10 UNIT RESIDENTIAL,,1967,1401,,,290 GREENE AVE,,...,0,0,0,0,0,0,2,R1,952311,2013-04-25 00:00:00
7,3,,15 CONDOS - 2-10 UNIT RESIDENTIAL,,1967,1402,,,290 GREENE AVE,,...,0,0,0,0,0,0,2,R1,842692,2013-04-25 00:00:00
8,3,,15 CONDOS - 2-10 UNIT RESIDENTIAL,,1967,1403,,,290 GREENE AVE,,...,0,0,0,0,0,0,2,R1,815288,2013-04-25 00:00:00
9,3,,15 CONDOS - 2-10 UNIT RESIDENTIAL,,1967,1404,,,290 GREENE AVE,,...,0,0,0,0,0,0,2,R1,815288,2013-04-25 00:00:00
10,3,,18 TAX CLASS 3 - UTILITY PROPERTIES,3,7247,114,,U2,873 NEPTUNE AVENUE,,...,0,0,0,0,0,0,3,U2,0,2013-07-25 00:00:00
11,3,,18 TAX CLASS 3 - UTILITY PROPERTIES,3,7247,320,,U2,809 NEPTUNE AVENUE,,...,0,0,0,0,0,0,3,U2,15000000,2013-07-25 00:00:00
12,3,BATH BEACH,,4,6370,1308,,RP,88 BAY 20TH STREET,P7,...,0,0,1,0,0,2011,4,RP,0,2012-11-19 00:00:00
13,3,BATH BEACH,,4,6370,1309,,RP,88 BAY 20TH STREET,P8,...,0,0,1,0,0,2011,4,RP,0,2013-04-22 00:00:00
14,3,BATH BEACH,,4,6370,1310,,RP,88 BAY 20TH STREET,P9,...,0,0,1,0,0,2011,4,RP,0,2012-11-12 00:00:00
15,3,BATH BEACH,,4,6370,1311,,RP,88 BAY 20TH STREET,P10,...,0,0,1,0,0,2011,4,RP,0,2013-02-08 00:00:00
16,3,BATH BEACH,,4,6370,1312,,RP,88 BAY 20TH STREET,P11,...,0,0,1,0,0,2011,4,RP,0,2012-11-13 00:00:00
17,3,BATH BEACH,,4,6370,1313,,RP,88 BAY 20TH STREET,P12,...,0,0,1,0,0,2011,4,RP,0,2012-11-13 00:00:00
18,3,BATH BEACH,,4,6370,1321,,RP,98 BAY 20TH STREET,P1,...,0,0,1,0,0,2011,4,RP,0,2012-12-07 00:00:00
19,3,BATH BEACH,,4,6370,1322,,RP,98 BAY 20TH STREET,P2,...,0,0,1,0,0,2011,4,RP,0,2013-02-15 00:00:00
20,3,BATH BEACH,,4,6370,1323,,RP,98 BAY 20TH STREET,P3,...,0,0,1,0,0,2011,4,RP,0,2013-01-09 00:00:00
21,3,BATH BEACH,,4,6370,1324,,RP,98 BAY 20TH STREET,P4,...,0,0,1,0,0,2011,4,RP,0,2013-01-07 00:00:00
22,3,BATH BEACH,,4,6370,1325,,RP,98 BAY 20TH STREET,P5,...,0,0,1,0,0,2011,4,RP,0,2012-11-07 00:00:00
23,3,BATH BEACH,,4,6370,1326,,RP,98 BAY 20TH STREET,P6,...,0,0,1,0,0,2011,4,RP,0,2013-06-25 00:00:00
24,3,BATH BEACH,,4,6413,1008,,RP,120 BAY 29TH STREET,P2,...,0,0,1,0,0,0,4,RP,0,2013-07-03 00:00:00
25,3,BATH BEACH,,4,6414,1043,,RG,8686 BAY PARKWAY,P7,...,0,0,1,0,0,0,4,RG,0,2013-06-19 00:00:00
26,3,BATH BEACH,,4,6414,1049,,RG,8686 BAY PARKWAY,P13,...,0,0,1,0,0,0,4,RG,0,2013-06-03 00:00:00
27,3,BATH BEACH,,4,6414,1058,,RG,8686 BAY PARKWAY,P22,...,0,0,1,0,0,0,4,RG,0,2013-01-16 00:00:00
28,3,BATH BEACH,,4,6414,1062,,RG,8686 BAY PARKWAY,P26,...,0,0,1,0,0,0,4,RG,0,2013-03-18 00:00:00
29,3,BATH BEACH,01 ONE FAMILY HOMES,1,6363,23,,A9,8641 16TH AVENUE,,...,1,0,1,2058,1492,1930,1,A9,560000,2013-06-06 00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23347,3,WYCKOFF HEIGHTS,13 CONDOS - ELEVATOR APARTMENTS,2,3238,1021,,R4,101 WYCKOFF AVE,3E,...,1,0,1,0,0,0,2,R4,465000,2013-01-03 00:00:00
23348,3,WYCKOFF HEIGHTS,14 RENTALS - 4-10 UNIT,2A,3221,8,,S4,115 IRVING AVENUE,,...,4,1,5,2500,5625,1931,2,S4,0,2012-11-21 00:00:00
23349,3,WYCKOFF HEIGHTS,14 RENTALS - 4-10 UNIT,2A,3272,35,,S9,447 HIMROD ST,,...,2,3,5,1500,2800,1931,2,S9,0,2012-10-18 00:00:00
23350,3,WYCKOFF HEIGHTS,14 RENTALS - 4-10 UNIT,2A,3272,35,,S9,447 HIMROD ST,,...,2,3,5,1500,2800,1931,2,S9,0,2012-10-18 00:00:00
23351,3,WYCKOFF HEIGHTS,14 RENTALS - 4-10 UNIT,2A,3281,1,,S9,197 WYCKOFF AVENUE,,...,4,2,6,2525,4275,1931,2,S9,995000,2013-05-08 00:00:00
23352,3,WYCKOFF HEIGHTS,14 RENTALS - 4-10 UNIT,2A,3290,7,,S5,221 IRVING AVENUE,,...,5,1,6,2500,4350,1931,2,S5,780000,2013-06-18 00:00:00
23353,3,WYCKOFF HEIGHTS,14 RENTALS - 4-10 UNIT,2A,3311,3,,S9,257 WYCKOFF AVENUE,,...,4,2,6,2503,4125,1931,2,S9,0,2012-12-17 00:00:00
23354,3,WYCKOFF HEIGHTS,14 RENTALS - 4-10 UNIT,2A,3328,36,,S4,260 WYCKOFF AVE,4,...,4,1,5,2000,4125,1931,2,S4,0,2012-11-21 00:00:00
23355,3,WYCKOFF HEIGHTS,14 RENTALS - 4-10 UNIT,2A,3328,36,,S4,260 WYCKOFF AVE,4,...,4,1,5,2000,4125,1931,2,S4,0,2012-11-21 00:00:00
23356,3,WYCKOFF HEIGHTS,14 RENTALS - 4-10 UNIT,2A,3328,36,,S4,260 WYCKOFF AVENUE,4,...,4,1,5,2000,4125,1931,2,S4,0,2012-09-14 00:00:00
23357,3,WYCKOFF HEIGHTS,14 RENTALS - 4-10 UNIT,2A,3337,28,,S9,278 WYCKOFF AVENUE,,...,4,2,6,2000,4500,1931,2,S9,0,2013-03-29 00:00:00
23358,3,WYCKOFF HEIGHTS,14 RENTALS - 4-10 UNIT,2B,3393,49,,S9,1524 JEFFERSON AVE,,...,4,4,8,2000,5400,1910,2,S9,1200000,2013-05-09 00:00:00
23359,3,WYCKOFF HEIGHTS,15 CONDOS - 2-10 UNIT RESIDENTIAL,2C,3250,1001,,R1,137 ST NICHOLAS AVENUE,1A,...,1,0,1,0,0,1931,2,R1,354969,2013-07-09 00:00:00
23360,3,WYCKOFF HEIGHTS,15 CONDOS - 2-10 UNIT RESIDENTIAL,2C,3250,1002,,R1,137 ST NICHOLAS AVENUE,1B,...,1,0,1,0,0,1931,2,R1,354900,2012-09-14 00:00:00
23361,3,WYCKOFF HEIGHTS,15 CONDOS - 2-10 UNIT RESIDENTIAL,2C,3250,1003,,R1,137 ST NICHOLAS AVENUE,2A,...,1,0,1,0,0,1931,2,R1,304200,2012-10-17 00:00:00
23362,3,WYCKOFF HEIGHTS,15 CONDOS - 2-10 UNIT RESIDENTIAL,2C,3250,1004,,R1,137 ST. NICHOLAS AVENUE,2B,...,1,0,1,0,0,1931,2,R1,304200,2012-08-20 00:00:00
23363,3,WYCKOFF HEIGHTS,15 CONDOS - 2-10 UNIT RESIDENTIAL,2C,3250,1005,,R1,137 ST NICHOLAS AVENUE,3A,...,1,0,1,0,0,1931,2,R1,325000,2012-08-21 00:00:00
23364,3,WYCKOFF HEIGHTS,15 CONDOS - 2-10 UNIT RESIDENTIAL,2C,3250,1006,,R1,137 ST NICHOLAS AVENUE,3B,...,1,0,1,0,0,1931,2,R1,324480,2012-11-15 00:00:00
23365,3,WYCKOFF HEIGHTS,22 STORE BUILDINGS,4,3221,35,,K1,72 WYCKOFF AVENUE,,...,0,1,1,18000,18000,1950,4,K1,0,2012-12-27 00:00:00
23366,3,WYCKOFF HEIGHTS,22 STORE BUILDINGS,4,3280,31,,K9,146 WYCKOFF AVENUE,,...,0,1,1,2535,5580,1931,4,K9,1200000,2013-04-24 00:00:00
23367,3,WYCKOFF HEIGHTS,23 LOFT BUILDINGS,4,3280,21,,L9,330 HIMROD STREET,,...,0,1,1,18000,23085,1931,4,L9,0,2012-12-14 00:00:00
23368,3,WYCKOFF HEIGHTS,27 FACTORIES,4,3167,7,,F4,1138 FLUSHING AVENUE,,...,0,1,1,2454,2450,1931,4,F4,0,2013-02-28 00:00:00
23369,3,WYCKOFF HEIGHTS,27 FACTORIES,4,3167,7,,F4,1138 FLUSHING AVENUE,,...,0,1,1,2454,2450,1931,4,F4,385000,2013-02-28 00:00:00
23370,3,WYCKOFF HEIGHTS,29 COMMERCIAL GARAGES,4,3248,54,,G9,297 STOCKHOLM STREET,,...,0,1,1,2500,2500,1931,4,G9,0,2013-04-17 00:00:00
23371,3,WYCKOFF HEIGHTS,29 COMMERCIAL GARAGES,4,3407,34,,G9,940-950 WYCKOFF AVENUE,,...,0,1,1,7200,3000,1925,4,G9,1110000,2013-05-16 00:00:00
23372,3,WYCKOFF HEIGHTS,30 WAREHOUSES,4,3167,8,,E9,1144 FLUSHING AVENUE,,...,0,1,1,10250,6675,1931,4,E9,0,2013-01-17 00:00:00
23373,3,WYCKOFF HEIGHTS,30 WAREHOUSES,4,3167,69,,E9,349 JEFFERSON STREET,,...,0,1,1,3600,2800,1931,4,E9,0,2013-01-17 00:00:00
23374,3,WYCKOFF HEIGHTS,30 WAREHOUSES,4,3176,146,,E9,383 TROUTMAN STREET,,...,0,1,1,5017,5000,1972,4,E9,1090000,2012-12-28 00:00:00
23375,3,WYCKOFF HEIGHTS,30 WAREHOUSES,4,3248,55,,E9,295 STOCKHOLM STREET,,...,0,1,1,2500,2475,1931,4,E9,0,2013-04-17 00:00:00
23376,3,WYCKOFF HEIGHTS,30 WAREHOUSES,4,3280,28,,E1,342 HIMROD STREET,,...,0,1,1,6000,7140,1931,4,E1,0,2012-12-14 00:00:00

<bound method NDFrame.describe of       Brooklyn Rolling Sales File.  All Sales From August 2012 - August 2013.   \
0      Sales File as of 08/30/2013  Coop Sales Files ...
1      Neighborhood Name 09/06/13, Descriptive Data i...
2      Building Class Category is based on Building C...
3                                                BOROUGH
4                                                      3
5                                                      3
6                                                      3
7                                                      3
8                                                      3
9                                                      3
10                                                     3
11                                                     3
12                                                     3
13                                                     3
14                                                     3
15                                                     3
16                                                     3
17                                                     3
18                                                     3
19                                                     3
20                                                     3
21                                                     3
22                                                     3
23                                                     3
24                                                     3
25                                                     3
26                                                     3
27                                                     3
28                                                     3
29                                                     3
...                                                  ...
23347                                                  3
23348                                                  3
23349                                                  3
23350                                                  3
23351                                                  3
23352                                                  3
23353                                                  3
23354                                                  3
23355                                                  3
23356                                                  3
23357                                                  3
23358                                                  3
23359                                                  3
23360                                                  3
23361                                                  3
23362                                                  3
23363                                                  3
23364                                                  3
23365                                                  3
23366                                                  3
23367                                                  3
23368                                                  3
23369                                                  3
23370                                                  3
23371                                                  3
23372                                                  3
23373                                                  3
23374                                                  3
23375                                                  3
23376                                                  3

                      Unnamed: 1  \
0                            NaN
1                            NaN
2                            NaN
3                   NEIGHBORHOOD
4
5
6
7
8
9
10
11
12     BATH BEACH
13     BATH BEACH
14     BATH BEACH
15     BATH BEACH
16     BATH BEACH
17     BATH BEACH
18     BATH BEACH
19     BATH BEACH
20     BATH BEACH
21     BATH BEACH
22     BATH BEACH
23     BATH BEACH
24     BATH BEACH
25     BATH BEACH
26     BATH BEACH
27     BATH BEACH
28     BATH BEACH
29     BATH BEACH
...                          ...
23347  WYCKOFF HEIGHTS
23348  WYCKOFF HEIGHTS
23349  WYCKOFF HEIGHTS
23350  WYCKOFF HEIGHTS
23351  WYCKOFF HEIGHTS
23352  WYCKOFF HEIGHTS
23353  WYCKOFF HEIGHTS
23354  WYCKOFF HEIGHTS
23355  WYCKOFF HEIGHTS
23356  WYCKOFF HEIGHTS
23357  WYCKOFF HEIGHTS
23358  WYCKOFF HEIGHTS
23359  WYCKOFF HEIGHTS
23360  WYCKOFF HEIGHTS
23361  WYCKOFF HEIGHTS
23362  WYCKOFF HEIGHTS
23363  WYCKOFF HEIGHTS
23364  WYCKOFF HEIGHTS
23365  WYCKOFF HEIGHTS
23366  WYCKOFF HEIGHTS
23367  WYCKOFF HEIGHTS
23368  WYCKOFF HEIGHTS
23369  WYCKOFF HEIGHTS
23370  WYCKOFF HEIGHTS
23371  WYCKOFF HEIGHTS
23372  WYCKOFF HEIGHTS
23373  WYCKOFF HEIGHTS
23374  WYCKOFF HEIGHTS
23375  WYCKOFF HEIGHTS
23376  WYCKOFF HEIGHTS

                                         Unnamed: 2            Unnamed: 3  \
0                                               NaN                   NaN
1                                               NaN                   NaN
2                                               NaN                   NaN
3                           BUILDING CLASS CATEGORY  TAX CLASS AT PRESENT
4      15  CONDOS - 2-10 UNIT RESIDENTIAL
5      15  CONDOS - 2-10 UNIT RESIDENTIAL
6      15  CONDOS - 2-10 UNIT RESIDENTIAL
7      15  CONDOS - 2-10 UNIT RESIDENTIAL
8      15  CONDOS - 2-10 UNIT RESIDENTIAL
9      15  CONDOS - 2-10 UNIT RESIDENTIAL
10     18  TAX CLASS 3 - UTILITY PROPERTIES                             3
11     18  TAX CLASS 3 - UTILITY PROPERTIES                             3
12                                                                      4
13                                                                      4
14                                                                      4
15                                                                      4
16                                                                      4
17                                                                      4
18                                                                      4
19                                                                      4
20                                                                      4
21                                                                      4
22                                                                      4
23                                                                      4
24                                                                      4
25                                                                      4
26                                                                      4
27                                                                      4
28                                                                      4
29     01  ONE FAMILY HOMES                                             1
...                                             ...                   ...
23347  13  CONDOS - ELEVATOR APARTMENTS                                 2
23348  14  RENTALS - 4-10 UNIT                                         2A
23349  14  RENTALS - 4-10 UNIT                                         2A
23350  14  RENTALS - 4-10 UNIT                                         2A
23351  14  RENTALS - 4-10 UNIT                                         2A
23352  14  RENTALS - 4-10 UNIT                                         2A
23353  14  RENTALS - 4-10 UNIT                                         2A
23354  14  RENTALS - 4-10 UNIT                                         2A
23355  14  RENTALS - 4-10 UNIT                                         2A
23356  14  RENTALS - 4-10 UNIT                                         2A
23357  14  RENTALS - 4-10 UNIT                                         2A
23358  14  RENTALS - 4-10 UNIT                                         2B
23359  15  CONDOS - 2-10 UNIT RESIDENTIAL                              2C
23360  15  CONDOS - 2-10 UNIT RESIDENTIAL                              2C
23361  15  CONDOS - 2-10 UNIT RESIDENTIAL                              2C
23362  15  CONDOS - 2-10 UNIT RESIDENTIAL                              2C
23363  15  CONDOS - 2-10 UNIT RESIDENTIAL                              2C
23364  15  CONDOS - 2-10 UNIT RESIDENTIAL                              2C
23365  22  STORE BUILDINGS                                              4
23366  22  STORE BUILDINGS                                              4
23367  23  LOFT BUILDINGS                                               4
23368  27  FACTORIES                                                    4
23369  27  FACTORIES                                                    4
23370  29  COMMERCIAL GARAGES                                           4
23371  29  COMMERCIAL GARAGES                                           4
23372  30  WAREHOUSES                                                   4
23373  30  WAREHOUSES                                                   4
23374  30  WAREHOUSES                                                   4
23375  30  WAREHOUSES                                                   4
23376  30  WAREHOUSES                                                   4

      Unnamed: 4 Unnamed: 5 Unnamed: 6                 Unnamed: 7  \
0            NaN        NaN        NaN                        NaN
1            NaN        NaN        NaN                        NaN
2            NaN        NaN        NaN                        NaN
3          BLOCK        LOT  EASE-MENT  BUILDING CLASS AT PRESENT
4            814       1103
5            814       1105
6           1967       1401
7           1967       1402
8           1967       1403
9           1967       1404
10          7247        114                                    U2
11          7247        320                                    U2
12          6370       1308                                    RP
13          6370       1309                                    RP
14          6370       1310                                    RP
15          6370       1311                                    RP
16          6370       1312                                    RP
17          6370       1313                                    RP
18          6370       1321                                    RP
19          6370       1322                                    RP
20          6370       1323                                    RP
21          6370       1324                                    RP
22          6370       1325                                    RP
23          6370       1326                                    RP
24          6413       1008                                    RP
25          6414       1043                                    RG
26          6414       1049                                    RG
27          6414       1058                                    RG
28          6414       1062                                    RG
29          6363         23                                    A9
...          ...        ...        ...                        ...
23347       3238       1021                                    R4
23348       3221          8                                    S4
23349       3272         35                                    S9
23350       3272         35                                    S9
23351       3281          1                                    S9
23352       3290          7                                    S5
23353       3311          3                                    S9
23354       3328         36                                    S4
23355       3328         36                                    S4
23356       3328         36                                    S4
23357       3337         28                                    S9
23358       3393         49                                    S9
23359       3250       1001                                    R1
23360       3250       1002                                    R1
23361       3250       1003                                    R1
23362       3250       1004                                    R1
23363       3250       1005                                    R1
23364       3250       1006                                    R1
23365       3221         35                                    K1
23366       3280         31                                    K9
23367       3280         21                                    L9
23368       3167          7                                    F4
23369       3167          7                                    F4
23370       3248         54                                    G9
23371       3407         34                                    G9
23372       3167          8                                    E9
23373       3167         69                                    E9
23374       3176        146                                    E9
23375       3248         55                                    E9
23376       3280         28                                    E1

                                      Unnamed: 8           Unnamed: 9  \
0                                            NaN                  NaN
1                                            NaN                  NaN
2                                            NaN                  NaN
3                                        ADDRESS  APART\nMENT\nNUMBER
4      342 53RD    STREET
5      342 53RD    STREET
6      290 GREENE AVE
7      290 GREENE AVE
8      290 GREENE AVE
9      290 GREENE AVE
10     873 NEPTUNE AVENUE
11     809 NEPTUNE AVENUE
12     88 BAY 20TH   STREET                              P7
13     88 BAY 20TH   STREET                              P8
14     88 BAY 20TH   STREET                              P9
15     88 BAY 20TH   STREET                              P10
16     88 BAY 20TH   STREET                              P11
17     88 BAY 20TH   STREET                              P12
18     98 BAY 20TH   STREET                              P1
19     98 BAY 20TH   STREET                              P2
20     98 BAY 20TH   STREET                              P3
21     98 BAY 20TH   STREET                              P4
22     98 BAY 20TH   STREET                              P5
23     98 BAY 20TH   STREET                              P6
24     120 BAY 29TH   STREET                             P2
25     8686 BAY PARKWAY                                  P7
26     8686 BAY PARKWAY                                  P13
27     8686 BAY PARKWAY                                  P22
28     8686 BAY PARKWAY                                  P26
29     8641 16TH AVENUE
...                                          ...                  ...
23347  101 WYCKOFF AVE                                   3E
23348  115 IRVING AVENUE
23349  447 HIMROD ST
23350  447 HIMROD ST
23351  197 WYCKOFF AVENUE
23352  221 IRVING AVENUE
23353  257 WYCKOFF AVENUE
23354  260 WYCKOFF AVE                                              4
23355  260 WYCKOFF AVE                                              4
23356  260 WYCKOFF AVENUE                                           4
23357  278 WYCKOFF AVENUE
23358  1524 JEFFERSON AVE
23359  137 ST NICHOLAS AVENUE                            1A
23360  137 ST NICHOLAS AVENUE                            1B
23361  137 ST NICHOLAS AVENUE                            2A
23362  137 ST. NICHOLAS AVENUE                           2B
23363  137 ST NICHOLAS AVENUE                            3A
23364  137 ST NICHOLAS AVENUE                            3B
23365  72 WYCKOFF AVENUE
23366  146 WYCKOFF AVENUE
23367  330 HIMROD STREET
23368  1138 FLUSHING AVENUE
23369  1138 FLUSHING AVENUE
23370  297 STOCKHOLM STREET
23371  940-950 WYCKOFF AVENUE
23372  1144 FLUSHING AVENUE
23373  349 JEFFERSON STREET
23374  383 TROUTMAN STREET
23375  295 STOCKHOLM STREET
23376  342 HIMROD STREET

              ...                 Unnamed: 11       Unnamed: 12  Unnamed: 13  \
0             ...                         NaN               NaN          NaN
1             ...                         NaN               NaN          NaN
2             ...                         NaN               NaN          NaN
3             ...           RESIDENTIAL UNITS  COMMERCIAL UNITS  TOTAL UNITS
4             ...                           0                 0            0
5             ...                           0                 0            0
6             ...                           0                 0            0
7             ...                           0                 0            0
8             ...                           0                 0            0
9             ...                           0                 0            0
10            ...                           0                 0            0
11            ...                           0                 0            0
12            ...                           0                 0            1
13            ...                           0                 0            1
14            ...                           0                 0            1
15            ...                           0                 0            1
16            ...                           0                 0            1
17            ...                           0                 0            1
18            ...                           0                 0            1
19            ...                           0                 0            1
20            ...                           0                 0            1
21            ...                           0                 0            1
22            ...                           0                 0            1
23            ...                           0                 0            1
24            ...                           0                 0            1
25            ...                           0                 0            1
26            ...                           0                 0            1
27            ...                           0                 0            1
28            ...                           0                 0            1
29            ...                           1                 0            1
...           ...                         ...               ...          ...
23347         ...                           1                 0            1
23348         ...                           4                 1            5
23349         ...                           2                 3            5
23350         ...                           2                 3            5
23351         ...                           4                 2            6
23352         ...                           5                 1            6
23353         ...                           4                 2            6
23354         ...                           4                 1            5
23355         ...                           4                 1            5
23356         ...                           4                 1            5
23357         ...                           4                 2            6
23358         ...                           4                 4            8
23359         ...                           1                 0            1
23360         ...                           1                 0            1
23361         ...                           1                 0            1
23362         ...                           1                 0            1
23363         ...                           1                 0            1
23364         ...                           1                 0            1
23365         ...                           0                 1            1
23366         ...                           0                 1            1
23367         ...                           0                 1            1